name: Docker Image Build

on:
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

    paths-ignore:
      - '.devcontainer/**'
      - 'docs/**'
      - '**.md'

    tags:
      - v*

jobs:

  docker-build-push:

    runs-on: ubuntu-latest
    env:
      DOCKER_REPO: $${ secrets.DOCKER_REPO }
      DOCKER_USER: $${ secrets.DOCKER_USER }
      DOCKER_PAT: $${ secrets.DOCKER_PAT }

    steps:
    - uses: actions/checkout@v1

    - name: Build Container
      run: docker build . -t image

    - name: Login to registry
      if: ${{ env.DOCKER_PAT != '' && env.DOCKER_REPO != '' && env.DOCKER_USER != '' }}"
      run: |
        # Login to registry

        # You must add the following secrets to github
        #    DOCKER_REPO - your docker hub repo name
        #    DOCKER_USER - your docker hub user name
        #    DOCKER_PAT  - the personal access token for docker hub

        ## login to docker hub
        echo "${{ secrets.DOCKER_PAT }}" | docker login -u ${{ secrets.DOCKER_USER }} --password-stdin

    - name: Docker Push
      if: ${{ env.DOCKER_PAT != '' && env.DOCKER_REPO != '' && env.DOCKER_USER != '' }}"
      run: |
        # Tag and push the docker image

        IMAGE_ID=$DOCKER_REPO

        # tag the image with :beta
        docker tag image $IMAGE_ID:beta

        # Tag image based on repo tag if a github label
        if [[ "${{ github.ref }}" == "refs/tags/"* ]]
        then

          # Strip git ref prefix from version
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')

          # Strip "v" prefix from tag name
          VERSION=$(echo $VERSION | sed -e 's/^v//')

          # tag the image with :Version and :latest
          docker tag image $IMAGE_ID:$VERSION
          docker tag image $IMAGE_ID:latest
        fi

        # Push to the repo
        docker push $IMAGE_ID
